 #logo h1 {
    font-size: 42px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
  }
 #logo h1 a {
    color: #0c2e8a;
    line-height: 1;
    display: inline-block;
  }
#logo h1 a span {
    color: #50d8af;
  }
  
#logo img {
    padding: 0;
    margin: 0;
  }
.scrollto{
    text-decoration: none;    
}

